<div class="container mt-5 p-3 d-flex justify-content-around bak">
    <h2 class="mx-5 w-50"> About Me</h2>
    <div class="justify-content-end">
        <p class="w-50">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas doloribus excepturi maxime corporis. Quis unde ratione sequi eaque? Aut laudantium officiis consequuntur ipsam repudiandae accusantium dolori
            bus dignissimos ducimus velit ipsa.
        </p>
        <button >
            Download  Cv
        </button>
    </div>
</div>